<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon class="dismiss-button" color="medium" slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Elige un color</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveData()" class="modal-end-button-text" color="primary">Guardar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group (ionChange)="radioChecked($event)">
      <ion-item *ngFor="let colorObj of colorS.colorList; let i = index">
        <ion-label>{{ colorObj.name }}</ion-label>
        <ion-icon slot="start" name="color-fill" color="{{ colorObj.value }}"></ion-icon>
        <ion-radio slot="end" [value]="i"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>