:root {
    /** custom azul **/
    --ion-color-azul: #8ed1f7;
    --ion-color-azul-rgb: 142, 209, 247;
    --ion-color-azul-contrast: #000000;
    --ion-color-azul-contrast-rgb: 0, 0, 0;
    --ion-color-azul-shade: #7db8d9;
    --ion-color-azul-tint: #99d6f8;

    /** custom verde **/
    --ion-color-verde: #a3dc93;
    --ion-color-verde-rgb: 163, 220, 147;
    --ion-color-verde-contrast: #000000;
    --ion-color-verde-contrast-rgb: 0, 0, 0;
    --ion-color-verde-shade: #8fc281;
    --ion-color-verde-tint: #ace09e;

    /** custom vino **/
    --ion-color-vino: #c05c92;
    --ion-color-vino-rgb: 192, 92, 146;
    --ion-color-vino-contrast: #000000;
    --ion-color-vino-contrast-rgb: 0, 0, 0;
    --ion-color-vino-shade: #a95180;
    --ion-color-vino-tint: #c66c9d;

    /** custom amarillo **/
    --ion-color-amarillo: #fdf962;
    --ion-color-amarillo-rgb: 253, 249, 98;
    --ion-color-amarillo-contrast: #000000;
    --ion-color-amarillo-contrast-rgb: 0, 0, 0;
    --ion-color-amarillo-shade: #dfdb56;
    --ion-color-amarillo-tint: #fdfa72;

    /** custom bosque acuatico **/
    --ion-color-bosqueacuatico: #56ae72;
    --ion-color-bosqueacuatico-rgb: 86, 174, 114;
    --ion-color-bosqueacuatico-contrast: #000000;
    --ion-color-bosqueacuatico-contrast-rgb: 0, 0, 0;
    --ion-color-bosqueacuatico-shade: #4c9964;
    --ion-color-bosqueacuatico-tint: #67b680;

    /** custom oro viejo **/
    --ion-color-oroviejo: #d39e3a;
    --ion-color-oroviejo-rgb: 211, 158, 58;
    --ion-color-oroviejo-contrast: #000000;
    --ion-color-oroviejo-contrast-rgb: 0, 0, 0;
    --ion-color-oroviejo-shade: #ba8b33;
    --ion-color-oroviejo-tint: #d7a84e;

    /** custom granada **/
    --ion-color-granada: #f44336;
    --ion-color-granada-rgb: 244, 67, 54;
    --ion-color-granada-contrast: #000000;
    --ion-color-granada-contrast-rgb: 0, 0, 0;
    --ion-color-granada-shade: #d73b30;
    --ion-color-granada-tint: #f5564a;

    /** custom gris **/
    --ion-color-gris: #d6d6d6;
    --ion-color-gris-rgb: 214, 214, 214;
    --ion-color-gris-contrast: #000000;
    --ion-color-gris-contrast-rgb: 0, 0, 0;
    --ion-color-gris-shade: #bcbcbc;
    --ion-color-gris-tint: #dadada;

    /** custom rosa **/
    --ion-color-rosa: #ffbaf7;
    --ion-color-rosa-rgb: 255, 186, 247;
    --ion-color-rosa-contrast: #000000;
    --ion-color-rosa-contrast-rgb: 0, 0, 0;
    --ion-color-rosa-shade: #e0a4d9;
    --ion-color-rosa-tint: #ffc1f8;

    /** custom naranja **/
    --ion-color-naranja: #ff7c6b;
    --ion-color-naranja-rgb: 255, 124, 107;
    --ion-color-naranja-contrast: #000000;
    --ion-color-naranja-contrast-rgb: 0, 0, 0;
    --ion-color-naranja-shade: #e06d5e;
    --ion-color-naranja-tint: #ff897a;
}

// NOTE https://ionicframework.com/docs/theming/color-generator

/** custom azul **/
.ion-color-azul {
    --ion-color-base: var(--ion-color-azul) !important;
    --ion-color-base-rgb: var(--ion-color-azul-rgb) !important;
    --ion-color-contrast: var(--ion-color-azul-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-azul-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-azul-shade) !important;
    --ion-color-tint: var(--ion-color-azul-tint) !important;
}

/** custom verde **/
.ion-color-verde {
    --ion-color-base: var(--ion-color-verde) !important;
    --ion-color-base-rgb: var(--ion-color-verde-rgb) !important;
    --ion-color-contrast: var(--ion-color-verde-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-verde-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-verde-shade) !important;
    --ion-color-tint: var(--ion-color-verde-tint) !important;
}

/** custom vino **/
.ion-color-vino {
    --ion-color-base: var(--ion-color-vino) !important;
    --ion-color-base-rgb: var(--ion-color-vino-rgb) !important;
    --ion-color-contrast: var(--ion-color-vino-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-vino-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-vino-shade) !important;
    --ion-color-tint: var(--ion-color-vino-tint) !important;
}

/** custom amarillo **/
.ion-color-amarillo {
    --ion-color-base: var(--ion-color-amarillo) !important;
    --ion-color-base-rgb: var(--ion-color-amarillo-rgb) !important;
    --ion-color-contrast: var(--ion-color-amarillo-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-amarillo-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-amarillo-shade) !important;
    --ion-color-tint: var(--ion-color-amarillo-tint) !important;
}

/** custom bosque acuatico **/
.ion-color-bosqueacuatico {
    --ion-color-base: var(--ion-color-bosqueacuatico) !important;
    --ion-color-base-rgb: var(--ion-color-bosqueacuatico-rgb) !important;
    --ion-color-contrast: var(--ion-color-bosqueacuatico-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-bosqueacuatico-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-bosqueacuatico-shade) !important;
    --ion-color-tint: var(--ion-color-bosqueacuatico-tint) !important;
}

/** custom oro viejo **/
.ion-color-oroviejo {
    --ion-color-base: var(--ion-color-oroviejo) !important;
    --ion-color-base-rgb: var(--ion-color-oroviejo-rgb) !important;
    --ion-color-contrast: var(--ion-color-oroviejo-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-oroviejo-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-oroviejo-shade) !important;
    --ion-color-tint: var(--ion-color-oroviejo-tint) !important;
}

/** custom granada **/
.ion-color-granada {
    --ion-color-base: var(--ion-color-granada) !important;
    --ion-color-base-rgb: var(--ion-color-granada-rgb) !important;
    --ion-color-contrast: var(--ion-color-granada-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-granada-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-granada-shade) !important;
    --ion-color-tint: var(--ion-color-granada-tint) !important;
}

/** custom gris **/
.ion-color-gris {
    --ion-color-base: var(--ion-color-gris) !important;
    --ion-color-base-rgb: var(--ion-color-gris-rgb) !important;
    --ion-color-contrast: var(--ion-color-gris-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-gris-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-gris-shade) !important;
    --ion-color-tint: var(--ion-color-gris-tint) !important;
}

/** custom rosa **/
.ion-color-rosa {
    --ion-color-base: var(--ion-color-rosa) !important;
    --ion-color-base-rgb: var(--ion-color-rosa-rgb) !important;
    --ion-color-contrast: var(--ion-color-rosa-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-rosa-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-rosa-shade) !important;
    --ion-color-tint: var(--ion-color-rosa-tint) !important;
}

/** custom naranja **/
.ion-color-naranja {
    --ion-color-base: var(--ion-color-naranja) !important;
    --ion-color-base-rgb: var(--ion-color-naranja-rgb) !important;
    --ion-color-contrast: var(--ion-color-naranja-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-naranja-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-naranja-shade) !important;
    --ion-color-tint: var(--ion-color-naranja-tint) !important;
}