.center-middle-screen{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-custom {
    display: flex;
    align-items: center;
    justify-content: center;
}