<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Crear horario</ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round" (click)="saveCards()">
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre del horario <ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-input required clearInput [(ngModel)]="scheduleTitle"></ion-input>
  </ion-item>
  <ion-card *ngFor="let item of cardList; let i=index">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col size="9">
            <ion-card-title>{{ i+1 }}ª tarjeta</ion-card-title>
          </ion-col>
          <ion-col class="ion-text-center" size="3">
            <app-confirm-checkbox customId="{{ i }}" (typeChanged)="onValueEmitted($event)"></app-confirm-checkbox>
            <p style="font-size: 3.5vmin;" *ngIf="cardsChecker[i] != 'true-'+i">Confirmar</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content *ngIf="cardsChecker[i] != 'true-'+i">
      <ion-item>
        <ion-label position="fixed">Título</ion-label>
        <ion-input required [(ngModel)]="cardList[i].title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Pictograma</ion-label>
        <ion-input required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Color</ion-label>
        <ion-input hidden></ion-input>
        <ion-badge class="ion-margin-start" color="{{ cardList[i].color }}">&nbsp;&nbsp;&nbsp;</ion-badge>
        <ion-button style="color:black" size="default" fill="clear" (click)="openColorsModalWithData(i)">Seleccionar
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Duración</ion-label>
        <ion-button slot="end" fill="clear"></ion-button>
        <ion-datetime [(ngModel)]="cardList[i].duration" displayFormat="HH:mm" pickerFormat="HH:mm" placeholder="SELECCIONAR"
          doneText="OK" cancelText="Cancelar">
        </ion-datetime>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="addCard()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>