<ion-app [class.escolar-font]="router.url=='/show'">
  <ion-split-pane contentId="main-content" [when]="false">
    <!-- Oculto siempre el menu lateral -->
    <ion-menu contentId="main-content" type="push" [swipeGesture]="router.url === '/home' || router.url === '/list' || router.url === '/settings'">
      <ion-content>
        <div *ngIf="!this.network.isConnected">
          <div class="no-internet-icon">
            <img src="assets/network.svg" />
          </div>
          <ion-text color="light" class="no-internet-info">
            Modo sin conexión
          </ion-text>
        </div>
        <div class="center-custom user-image">
          <ion-avatar>
            <img *ngIf="auth.isGuest() || auth.imageUrl === ''" src="assets/img/user.svg" />
            <img *ngIf="!auth.isGuest() && auth.imageUrl != ''" src="{{ auth.imageUrl }}" />
          </ion-avatar>
        </div>
        <div class="center-custom user-name">
          <ion-text>
            <h2 *ngIf="auth.isGuest()">Anónimo</h2>
            <h2 *ngIf="!auth.isGuest()">{{ auth.displayName }}</h2>
          </ion-text>
        </div>
        <ion-grid>
          <ion-row class="hide-left-side">
            <ion-col size="11">
              <ion-list class="sidemenu-list" lines="none">
                <div *ngFor="let p of appPages">
                  <ion-menu-toggle auto-hide="false" *ngIf="p.url">
                    <ion-item detail="false" class="sidemenu-item" [routerDirection]="'root'" [routerLink]="[p.url]"
                      routerLinkActive="active">
                      <ion-icon slot="start" [name]="p.icon"></ion-icon>
                      <ion-label>
                        {{ p.title }}
                      </ion-label>
                    </ion-item>
                  </ion-menu-toggle>
                </div>
              </ion-list>
            </ion-col>
            <ion-col size="1">
            </ion-col>
          </ion-row>
        </ion-grid>
        <div *ngIf="!auth.isGuest()" class="center-custom">
          <ion-button color="black" fill="clear" shape="round" mode="ios" (click)="logout()" class="fix-bottom-menu">
            <ion-icon name="power"></ion-icon>&nbsp;Cerrar sesión
          </ion-button>
        </div>
        <div *ngIf="auth.isGuest()" class="center-custom">
          <ion-button color="black" fill="clear" shape="round" mode="ios" (click)="login()" class="fix-bottom-menu">
            <ion-icon name="log-in"></ion-icon>&nbsp;Iniciar sesión
          </ion-button>
        </div>
        <ion-text *ngIf="settings.debugMode" class="fix-bottom-menu-appversion center-custom">v{{ settings.version }}</ion-text>
      </ion-content>
      <!-- <ion-footer class="bar-stable">
        <ion-list>
          <ion-item nav-clear menu-close href="#" style="left:0;right:0;margin:0; width: 100%;position: fixed;">Logout
          </ion-item>
        </ion-list>
      </ion-footer> -->
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>