<ion-header>
  <ion-toolbar color="customone">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <!-- <ion-back-button defaultHref="home" text=""></ion-back-button> -->
    </ion-buttons>
    <ion-title>
      Alumnos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar animated placeholder="Filtrar alumnos" (ionChange)="search($event)"></ion-searchbar>
  <ion-refresher color="customtwo" slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content pullingIcon="arrow-down" spinner="null" refreshingSpinner="null">
    </ion-refresher-content>
  </ion-refresher>
  <!-- <app-spinner *ngIf="showSpinner"></app-spinner> -->
  <ion-text *ngIf="!studentsAvailable && !showSpinner" color="medium" class="center-middle-screen ion-text-center">No
    hay alumnos creados. Pulsa en el botón para añadirlos</ion-text>
  <ion-list #list>
    <ion-item-sliding #student.id *ngFor="let student of studentList | studentFilter: searchText: 'fullname'; let i = index">
      <ion-item-options side="start">
        <ion-item-option (click)="editStudent(student)">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item [routerLink]="['/schedule', {id: student.collectionId, name: student.fullname}]">
        <ion-avatar slot="end">
          <img src="../../assets/img/avatar.svg">
        </ion-avatar>
        {{ student.fullname }}
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteStudent(student)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addStudent()">
    <ion-fab-button color="customtwo">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>